<%- include("header") -%>
<section style="margin-top: 5rem" class="wrapper">
    <h1><%=error%></h1>
    <p>Va rugam transmiteri acest mesaj ununi administrator.</p>
</section>

<%- include("footer") -%>