<footer>
    <p>Created with love by <a target="_blank" href="https://www.linkedin.com/in/%C8%99tefan-secrieru-b0b60b224">Stefan Secrieru</a></p>
    <div class="attributions">
        <a href="https://unsplash.com/photos/bSlZs04ZjqU?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink
    "><p>Photo by SHAYAN rti on Unsplash</p></a>
        <a href="https://unsplash.com/photos/yqaTqfoetTY?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
            <p>Photo by Jean Estrella on Unsplash</p></a>
        <a href="https://unsplash.com/photos/pSUBKIUSEAk?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
            <p>Photo by Kevin Kyle Santiago on Unsplash</p></a>
        <a href="https://unsplash.com/photos/cTqL3XYCLh4?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
            <p>Photo by Visit Qatar on Unsplash</p></a>
        <a href="https://unsplash.com/photos/_THUISs23CI?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
            <p>Photo by Vince Fleming on Unsplash</p></a>
        <a href="https://unsplash.com/photos/zcrtAyPykVo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
            <p>Photo by Roland Hechanova on Unsplash</p></a>
        <a href="https://unsplash.com/photos/zANlRVOmnv8?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
            <p>Photo by Andy Art on Unsplash</p></a>
        <a href="https://unsplash.com/photos/Q8Jx6lFPkt8?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
            <p>Photo by Derek Owens on Unsplash</p></a>
        <a href="https://unsplash.com/photos/Fk5VfecUrjo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
            <p>Photo by What Is Picture Perfect on Unsplash</p></a>
        <a href="https://unsplash.com/photos/QAX5Ylx-lKo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
            <p>Photo by Stephen Baker on Unsplash</p></a>
        <a href="https://unsplash.com/photos/QAX5Ylx-lKo?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
            <p>Photo by Peter Thomas on Unsplash</p></a>
        <a href="https://unsplash.com/photos/PibraWHb4h8?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink">
            <p>Photo by Jared Rice on Unsplash</p></a>

    </div>

</footer>
</body>
</html>