<!DOCTYPE html>
<html lang="en">
<head>
    <!--    SCRIPTS-->
    <script defer src="/JS/script.js"></script>

    <meta charset="UTF-8">
    <title>AdventurePark - Slides, Camping, Spa and more</title>
    <!--    STYLES-->
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/misc-helper.css">
    <!--    FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Montserrat:wght@300;500;700&display=swap" rel="stylesheet">
    <!--    ICONS-->
    <script src="https://kit.fontawesome.com/4ef2199138.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="loader">
        <img src="/Images/Loader.svg" alt="">
    </div>
    <nav class="main-nav">
        <a href="/" class="logo">AdventurePark</a>
        <ul>
<!--            <li><i class="fa-black fa-xl fa-solid fa-bullhorn"></i><a href="/latest">Anunturi</a></li>-->
            <li><i class="fa-black fa-xl fa-solid fa-phone"></i><a href="/contact">Contact</a></li>
            <li><i class="fa-black fa-xl fa-solid fa-lightbulb"></i><a href="/attractions">Atractii.</a></li>
            <li><i class="fa-black fa-xl fa-solid fa-brush"></i><a href="/gallery">Galerie.</a></li>
            <li><i class="fa-black fa-xl fa-solid fa-house-chimney"></i><a href="/accommodation">Cazare.</a></li>
            <li><i class="fa-black fa-xl fa-solid fa-money-bill-1-wave"></i><a href="/tariffs">Tarife.</a></li>
            <li><a href="/login"><i class="fa-solid fa-user-group"></i></a></li>
        </ul>
    </nav>
    <section class="intro">
        <video src="/Images/Bridge%20in%20the%20jungle.mp4" autoplay loop muted></video>
        <div class="title">AdventurePark</div>
        <a href="/contact"><button>Contact.</button></a>
        <div class="socials">
            <i class="fa fa-2x fa-brands fa-facebook"></i>
            <i class="fa fa-2x fa-brands fa-instagram"></i>
            <i class="fa fa-2x fa-brands fa-twitter"></i>
        </div>
        <i class="fa fa-2x fa-solid fa-computer-mouse"></i>
    </section>
</header>