<%- include("header") -%>
<main>
    <section class="wrapper about">
        <img src="/Images/founder.jpg" alt="Image of the founder" class="founder">
        <div class="about-text">
            <h2 class="section-title">Despre noi.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur at autem deserunt dicta dolores ea eum
                ex, facere in incidunt nihil officiis optio quaerat quidem tempora ullam ut voluptates. Aliquam.</p>
        </div>
    </section>
    <section class="activities">
        <h2 class="section-title">Activitati<span class="dot">.</span></h2>
        <hr>
        <section class="activities-helper">
            <div class="act act0">

            </div>
            <div class="act act1">
                <h2 class="section-title">AquaPark<span class="dot">.</span></h2>
                <p>I-ati avant pe cele mai distractive topogane.</p>
                <a href="/attractions"><button>Detalii.</button></a>
            </div>
            <div class="act act2">
                <h2 class="section-title">CliffDive<span class="dot">.</span></h2>
                <p>Sari de pe stanci de peste 10 metrii intr-un mediu amenajat.</p>
                <a href="/attractions"><button>Detalii.</button></a>
            </div>
            <div class="act act0">

            </div>
            <div class="act act3">
                <h2 class="section-title">AirSoft<span class="dot">.</span></h2>
                <p>O aventura militara cum nu ai mai trait.</p>
                <a href="/attractions"><button>Detalii.</button></a>
            </div>
            <div class="act act4">
                <h2 class="section-title">Tiroliana<span class="dot">.</span></h2>
                <p>Aventureaza-te la peste 50 de metrii deasupra pamantului.</p>
                <a href="/attractions"><button>Detalii.</button></a>
            </div>
            <div class="act act5">
                <h2 class="section-title">PaintBall<span class="dot">.</span></h2>
                <p>Alaturate unei echipe de 20 de persoane si fura steagul oponentului.</p>
                <a href="/attractions"><button>Detalii.</button></a>
            </div>
            <div class="act act6">
                <h2 class="section-title">TerenSportiv<span class="dot">.</span></h2>
                <p>Fotbal, baschet, volei.</p>
                <a href="/attractions"><button>Detalii.</button></a>
            </div>
            <div class="act act0">

            </div>
            <div class="act act7">
                <h2 class="section-title">Spa<span class="dot">.</span></h2>
                <p>Rasfa-te in cel mai modern spa din Romania.</p>
                <a href="/attractions"><button>Detalii.</button></a>
            </div>
            <div class="act act8">
                <h2 class="section-title">Cazare<span class="dot">.</span></h2>
                <p>Cazare in cabane de lemn moderne.</p>
                <a href="/attractions"><button>Detalii.</button></a>
            </div>
            <div class="act act0">

            </div>
        </section>
    </section>
    <section class="wrapper cards">
        <div class="card">
            <img src="Images/Icons/Coin.png" alt="">
            <h2 class="section-title">Preturi reduse<span class="dot">.</span></h2>
            <p>Oferim preturi reduse incepand de la 200 de lei.</p>
            <a href="/tariffs"><button class="button-black">Detalii.</button></a>
        </div>
        <div class="card">
            <img src="Images/Icons/Calendar.png" alt="">
            <h2 class="section-title">Program flexibil<span class="dot">.</span></h2>
            <p>Tu alegi data care ti se potriveste cel mai bine. Noi ne conformam.</p>
            <a href="/accommodation"><button class="button-black">Detalii.</button></a>
        </div>
        <div class="card">
            <img src="Images/Icons/Fire.png" alt="">
            <h2 class="section-title">Activitati 🔥<span class="dot"></span></h2>
            <p>Dispunem de ultimele activitati aparute pe piata. Distractie placuta.</p>
            <a href="/attractions"><button class="button-black">Detalii.</button></a>
        </div>
    </section>
    <section class="mozaic">
        <div class="hero">
            <div class="hero-text">
                <h2 class="section-title">AquaPark<span class="dot">.</span></h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad excepturi, quas? Deleniti, facilis,
                    provident. Aliquam ea eaque, illum obcaecati quidem ratione veritatis voluptate. Aspernatur natus
                    necessitatibus neque nulla praesentium voluptatibus?</p>
            </div>
        </div>
        <div class="aside-top">
            <h2 class="section-title">Tobogane<span class="dot">.</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci aspernatur beatae deleniti,
                dolore ex hic modi nulla possimus quas, repudiandae ullam unde veniam voluptatibus. Fugit harum ipsam
                perferendis.</p>
        </div>
        <div class="aside-bottom">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab adipisci aspernatur beatae deleniti,
                dolore ex hic modi nulla possimus quas, repudiandae ullam unde veniam voluptatibus. Fugit harum ipsam
                perferendis.</p>
        </div>
    </section>
    <section class="wrapper contact">
        <div class="img-container">
            <h2 class="section-title">Contacteaza-ne<span class="dot">.</span></h2>
            <img src="/Images/Icons/Question.svg" alt="">
        </div>
        <div class="contact-text">
            <hr>
            <h2 class="section-title">Email<span class="dot">.</span></h2>
            <p>email@gmail.com</p>
            <hr>
            <h2 class="section-title">Telefon<span class="dot">.</span></h2>
            <p><em>0727884569</em></p>
            <p>Luni-Vineri: 08:00 - 20:00</p>
            <p>Sambata-Duminica: 10:00 - 17:00</p>
        </div>
    </section>
    <section class="gallery">
        <section class="gallery1">
            <div class="gallery-img img1"><img src="/Images/Gallery/Img1.jpg" alt=""></div>
            <div class="gallery-img img2"><img src="/Images/Gallery/Img2.jpg" alt=""></div>
            <div class="gallery-img img3"><img src="/Images/Gallery/Img3.jpg" alt=""></div>
            <div class="gallery-img img4"><img src="/Images/Gallery/Img4.jpg" alt=""></div>
        </section>

        <section class="gallery2">
            <div class="gallery-img img1"><img src="/Images/Gallery/Img5.jpg" alt=""></div>
            <div class="gallery-img img2"><img src="/Images/Gallery/Img6.jpg" alt=""></div>
            <div class="gallery-img img3"><img src="/Images/Gallery/Img7.jpg" alt=""></div>
            <div class="gallery-img img4"><img src="/Images/Gallery/Img8.jpg" alt=""></div>
        </section>
    </section>
    <section class="last">
        <h2 class="section-title">Abia asteptam sa ne vedem<span class="dot">!</span></h2>
        <a href="/contact"><button>Sa incepem!</button></a>
    </section>
</main>
<%- include("footer") -%>