<%- include("header") -%>
<section style="margin: 5rem 0;" class="wrapper latest">
    <%for(let i = 0; i < announcements.length; i++){%>
        <div class="announcement">

        </div>
    <% } %>
</section>
<%- include("footer") -%>