<%- include("header") -%>
<section style="margin: 5rem 0; text-align: center;" class="wrapper">
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="E-mail" required>
        <input type="password" name="password" placeholder="Parola" required>
        <button class="button-black">Inregistrare.</button>
    </form>
</section>
<%- include("footer") -%>