<%- include("header") -%>
<script defer src="/JS/tariffs.js"></script>
<section style="text-align: center; margin: 5rem 0;" class="wrapper tariffs">
    <select id="filter" style="background: whitesmoke" name="type">
        <option value="" selected disabled>Alege o categorie.</option>
        <option value="prices">Cazare.</option>
        <option value="attractions">Atractii.</option>
    </select>
    <div class="services">

    </div>
</section>
<%- include("footer") -%>